name: Run Telegram Upload Script

on:
  workflow_dispatch:  # allows manual trigger
  schedule:
    - cron: '30 23 * * 1'  # Tuesday 05:00 IST
    - cron: '30 23 * * 4'  # Thrusday 05:00 IST

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas openpyxl

      - name: Run script
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python symbol_token_file_send_telegram.py
